Repository fharmacajr-a11y/rcv1.3.13: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

Path conditions:
  no-direct-customtkinter-import: any of: \.py$, but not: ^src/ui/ctk_config\.py$
  validate-ui-theme-policy: any of: \.py$
  compileall-check: any of: \.py$
  smoke-ui-test: any of: \.py$
  bandit-security-scan: any of: \.py$, but not: ^(tests/|src/third_party/|src/modules/clientes/forms/_archived/)

refactor(ctk): FASE 2 Commit 2.2 - Migra picker histórico ANVISA para CTk + fix CTkImage no login
  src/modules/hub/views/hub_dialogs.py
  src/ui/login_dialog.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(ctk): CTkTableView.bind aceita add e repassa binds genéricos (corrige picker ANVISA)
  src/ui/widgets/ctk_tableview.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(ui): CTkTableView.bind não repassa add inválido + restaura zebra/seleção e alinhamento no Clientes
  src/modules/clientes/ui/view.py
  src/ui/ttk_treeview_theme.py
  src/ui/widgets/ctk_tableview.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

feat(ui): elimina flash pós-login e padroniza seleção/zebra de Treeview globalmente
  src/core/app.py
  src/modules/clientes/ui/view.py
  src/modules/main_window/views/main_window.py
  src/ui/ttk_treeview_manager.py
  src/ui/ttk_treeview_theme.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

style(ui): padroniza visual de tabelas (Treeview + CTkTableView)
  src/ui/table_ui_spec.py
  src/ui/ttk_treeview_manager.py
  src/ui/ttk_treeview_theme.py
  src/ui/widgets/ctk_tableview.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

test: migrate clientes patches from shim service to core.service
  tests/modules/clientes_ui/test_cnpj_extraction.py
  tests/modules/clientes_ui/test_trash.py
  tests/modules/clientes_ui/test_validations.py
  tests/unit/modules/clientes/test_viewmodel_round15.py
  tests/unit/modules/hub/test_dashboard_service.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

chore(clientes): remove service.py shim; standardize core imports
  src/modules/clientes/core/viewmodel.py
  src/modules/clientes/service.py
  tests/modules/clientes_ui/test_export.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(theme): corrige testes theme toggle Light/Dark
  src/ui/ttk_treeview_theme.py
  tests/ci/test_ttk_theme_toggle_smoke.py
  tests/modules/test_clientes_apply_theme_no_crash.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(clientes): refresh data from database after editing client
  .pre-commit-config.yaml
  src/modules/clientes/ui/view.py
  src/ui/ctk_config.py
  src/ui/ttk_theme_manager.py
  src/ui/ttk_treeview_manager.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore: finalize cleanup - add button_factory and remove artifacts
  docs/FINAL_PRUNE_REPORT.md
  src/ui/widgets/button_factory.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore: post-merge hygiene (remove generated files and backups)
  .gitignore
  config_theme.json
  core/classify_document/classifier.py
  core/logs/activity.py
  core/logs/auditoria_clientes.py
  core/search/pagination.py
  init_db.py
  src/config_theme.json
  src/core/logs/__pycache__/__init__.cpython-313.pyc
  src/core/logs/__pycache__/audit.cpython-313.pyc
  src/core/logs/__pycache__/configure.cpython-313.pyc
  src/core/logs/__pycache__/filters.cpython-313.pyc
  src/core/logs/__pycache__/logger.cpython-313.pyc
  src/core/services/lixeira_service.py.bak_before_patch
  src/core/services/lixeira_service.py.bak_v1.3.13
  src/core/services/path_manager.py
  src/infra/cache_store.py
  src/infra/sync_queue.py
  src/ui/forms/layout_helpers.py
  src/ui/themes.py
  src/ui/users/users.py
  tests/test_text_utils.py
  tools/test_resolver.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

docs: add quality audit report (ruff/bandit/vulture)
  .gitignore
  docs/QUALITY_AUDIT_REPORT.md
Due: none

docs: update quality report with fix attempt results
  docs/QUALITY_AUDIT_REPORT.md
Due: none

fix(ui): prevent flash/black frame in edit dialog
  docs/FIX_CLIENT_EDITOR_FLASH.md
  docs/FIX_EDIT_CLIENT_DIALOG_FLASH_AND_ICON.md
  src/modules/clientes/ui/views/client_editor_dialog.py
  src/modules/main_window/views/main_window_layout.py
  src/ui/window_icon.py
  src/ui/window_utils.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(stability): corrigir thread safety e bare except em 3 módulos
  src/core/logs/__pycache__/__init__.cpython-313.pyc
  src/core/logs/__pycache__/audit.cpython-313.pyc
  src/core/logs/__pycache__/configure.cpython-313.pyc
  src/core/logs/__pycache__/filters.cpython-313.pyc
  src/core/logs/__pycache__/logger.cpython-313.pyc
  src/modules/chatgpt/views/chatgpt_window.py
  src/modules/lixeira/views/lixeira.py
  src/third_party/ctktreeview/utils.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(upload): corrigir PDF não encontrado e ícone errado no fluxo de envio
  src/modules/clientes/forms/client_form_upload_helpers.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(upload): corrigir messagebox e caminho virtual em send_folder_to_supabase
  src/modules/uploads/uploader_supabase.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(upload): fallback askopenfilenames quando pasta retorna sem PDFs
  src/modules/clientes/forms/client_form_upload_helpers.py
  src/modules/uploads/uploader_supabase.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(storage): retry com backoff exponencial em _upload() -- Fase 9
  src/adapters/storage/supabase_storage.py
  src/modules/clientes/forms/client_form_upload_helpers.py
  src/modules/clientes/ui/views/client_editor_dialog.py
  src/modules/uploads/uploader_supabase.py
  tests/test_supabase_storage_retry.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(clientes): acesso seguro a response.data[0] em _resolve_current_org_id -- Fase 10
  src/modules/clientes/core/service.py
  tests/test_clientes_service_bounds.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(ui): cancelar after() no cleanup para evitar TclError -- Fase 11
  src/ui/splash.py
  src/ui/widgets/ctk_autocomplete_entry.py
  tests/test_ui_after_cleanup.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore(tests): suprimir reportAttributeAccessIssue em todos os testes
  tests/test_cache_store.py
  tests/test_client_editor_helpers.py
  tests/test_client_files_dialog_cleanup.py
  tests/test_clientes_service_bounds.py
  tests/test_clientes_ui_helpers.py
  tests/test_ctk_tableview_header_font.py
  tests/test_formatters.py
  tests/test_http_client_cleanup.py
  tests/test_hub_async_runner.py
  tests/test_hub_controller.py
  tests/test_phone_utils.py
  tests/test_session.py
  tests/test_storage_client_download_cleanup.py
  tests/test_supabase_storage_retry.py
  tests/test_ui_after_cleanup.py
  tests/test_uploader_supabase_progress.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

fix(tests): isolar sys.modules — Fase 11.5 (discover OK: 168 testes)
  tests/test_cache_store.py
  tests/test_client_files_dialog_cleanup.py
  tests/test_clientes_service_bounds.py
  tests/test_ctk_tableview_header_font.py
  tests/test_hub_async_runner.py
  tests/test_hub_controller.py
  tests/test_text_utils.py
  tests/test_ui_after_cleanup.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

fix(ui): guardar/cancelar after-jobs e checar winfo_exists — Fase 12
  src/modules/clientes/ui/views/client_editor_dialog.py
  src/ui/progress/pdf_batch_progress.py
  src/ui/widgets/ctk_splitpane.py
  tests/test_ui_phase12_guards.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(tests): corrigir anotacao _FakeSash->object|None (Pylance Fase 12)
  tests/test_ui_phase12_guards.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

fix(tests): suprimir union-attr em _FakeSplitPane.configure (Pylance Fase 12)
  tests/test_ui_phase12_guards.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

feat(ui): BindingTracker + unbind no cleanup de widgets — Fase 13
  src/ui/placeholders.py
  src/ui/utils/__init__.py
  src/ui/utils/binding_tracker.py
  src/ui/widgets/ctk_autocomplete_entry.py
  src/ui/widgets/ctk_splitpane.py
  src/ui/widgets/scrollable_frame.py
  tests/test_ui_binding_cleanup.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore: remove tools/test_resolver.py (dev script, sem refs em runtime)
  tools/test_resolver.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore: remove src/config/runtime_manifest.yaml (config obsoleto, zero refs no codigo)
  src/config/runtime_manifest.yaml
Due: none

chore: update .gitignore - fix src/core/logs/__pycache__ leak + add validate_*.txt e test_result.txt
  .gitignore
Due: none

chore: deptry - add .claude to extend_exclude (worktrees causavam falsos positivos)
  pyproject.toml
Due: none
