Repository fharmacajr-a11y/rcv1.3.13: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

no-direct-customtkinter-import:
  name: Proibir import direto de customtkinter (usar src/ui/ctk_config.py)
  language: pygrep
  entry: ^\s*(import\s+customtkinter|from\s+customtkinter\s+import)
  description: 'CustomTkinter deve ser importado apenas via src/ui/ctk_config.py (Single Source of Truth).
  
  ...

validate-ui-theme-policy:
  name: Validar política UI/Theme (SSoT + sem root implícita)
  language: system
  entry: python scripts/validate_ui_theme_policy.py
  pass_filenames: false
  description: 'Garante baseline CODEC:
  
    - SSoT: set_appearance_mode apenas em theme_manager.py
  
    - Sem root implícita: ttk.Style(master=)
  
  ...

compileall-check:
  name: Validar sintaxe Python (compileall)
  language: system
  entry: python -m compileall -q src tests
  pass_filenames: false
  description: 'Valida sintaxe de todos os arquivos Python antes do commit.
  
    '

smoke-ui-test:
  name: Smoke test UI (CustomTkinter básico)
  language: system
  entry: python scripts/smoke_ui.py
  pass_filenames: false
  stages:
  - pre-push
  description: 'Smoke test básico da UI CustomTkinter (apenas pre-push para não bloquear commits rápidos).
  
    '

bandit-security-scan:
  name: Bandit Security Scan (UTF-8 safe)
  language: system
  entry: python -X utf8 -m bandit -c .bandit -r src
  pass_filenames: false
  description: 'Análise de segurança Python com UTF-8 mode (resolve UnicodeEncodeError no Windows).
  
  ...

docs(fase5): release notes v1.5.62-fase4.3
  docs/FASE_5_RELEASE.md
Due: none

docs(ci): add PR description and validation report
  CI_GREEN_REPORT.md
  PR_DESCRIPTION.md
Due: none

docs(ci): add next steps guide for CI monitoring
  NEXT_STEPS.md
Due: none

docs(ci): add executive summary with validation status
  EXECUTIVE_SUMMARY.md
Due: none

docs(ci): add final gate validation report
  GATE_FINAL.md
Due: none

hotfix: corrige imports CTK e instanciação ClientesV2Frame
  src/modules/main_window/controllers/screen_registry.py
  src/modules/main_window/views/main_window.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

hotfix: ajusta CTkTable para versão disponível (1.1)
  requirements.txt
Due: none

hotfix(CI): adiciona módulo src.core.logs ao controle de versão
  src/core/logs/__init__.py
  src/core/logs/__pycache__/__init__.cpython-313.pyc
  src/core/logs/__pycache__/audit.cpython-313.pyc
  src/core/logs/__pycache__/configure.cpython-313.pyc
  src/core/logs/__pycache__/filters.cpython-313.pyc
  src/core/logs/audit.py
  src/core/logs/configure.py
  src/core/logs/filters.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

hotfix(CI): remove arquivos .pyc de src.core.logs do git
  src/core/logs/__pycache__/__init__.cpython-313.pyc
  src/core/logs/__pycache__/audit.cpython-313.pyc
  src/core/logs/__pycache__/configure.cpython-313.pyc
  src/core/logs/__pycache__/filters.cpython-313.pyc
Due: none

hotfix(CI): desabilita testes unitários obsoletos no workflow release
  .github/workflows/release.yml
Due: none

hotfix(CI): corrige workflow para aceitar onefile build do PyInstaller
  .github/workflows/release.yml
Due: none

hotfix(CI): adiciona permissão contents:write para criar releases
  .github/workflows/release.yml
Due: none

fix(gitignore): adiciona exceção para src/core/logs/
  .gitignore
Due: none

ci: reabilita subset de testes no release workflow
  .github/workflows/release.yml
Due: none

fix(gitignore): especifica /logs/ na raiz + versiona tests/core/logs/
  .gitignore
  tests/core/logs/test_audit.py
  tests/core/logs/test_configure.py
  tests/core/logs/test_filters.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

fix(ci): exclui tests/core/api/ temporariamente (4 theme failures)
  .github/workflows/release.yml
Due: none

feat(theme): adiciona sistema de callbacks ao theme_manager
  src/ui/theme_manager.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

feat(ui): implementa Treeview theme-aware com callbacks dinâmicos
  scripts/validate_ui_theme_policy.py
  src/modules/clientes_v2/tree_theme.py
  src/modules/clientes_v2/view.py
  src/ui/ttk_compat.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

test(widgets): adiciona testes unitários para CTkDatePicker
  tests/core/widgets/__init__.py
  tests/core/widgets/test_ctk_datepicker.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test

feat(ui): propaga padrão ttk_compat para ClientesV2
  CREATE_PR_INSTRUCTIONS.md
  PR_BODY.md
  RELEASE_STATUS.md
  SMOKE_TEST_v1.5.63.md
  TAG_MESSAGE.txt
  release_download/RC-Gestor-v1.5.63.exe.sha256
  release_download/RC-Gestor-v1.5.63.zip.sha256
  src/modules/clientes_v2/tree_theme.py
  src/modules/clientes_v2/view.py
  tests/core/widgets/test_ctk_datepicker.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

feat(ui): complete ttk_compat pattern propagation with Scrollbar/Progressbar support
  src/config_theme.json
  src/modules/clientes_v2/view.py
  src/ui/ttk_compat.py
  tests/core/test_theme_manager_callbacks.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

fix(ui): add <Destroy> cleanup for Treeview callbacks to prevent memory leaks
  src/ui/ttk_compat.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

docs: add PR template, release instructions, and smoke test checklist for v1.5.64-rc.1
  INSTRUCOES_PR_E_RELEASE.md
  PR_MELHORIAS_UI_TEMA.md
  SMOKE_TEST_v1.5.64.md
Due: none

chore: add patches/reports from stash + working changes
  .bandit
  docs/patches/ANALISE_MIGRACAO_CTK_CLIENTESV2.md
  docs/patches/PATCH_CLIENTESV2_DOUBLECLICK_FLASH.md
  docs/patches/PATCH_CLIENT_FILES_BROWSER.md
  docs/patches/PATCH_FIX_FILES_BROWSER_ACCESS.md
  docs/patches/PATCH_V2_DOUBLECLICK_DETERMINISTICO.md
  docs/reports/releases/CREATE_PR_INSTRUCTIONS.md
  docs/reports/releases/RELEASE_STATUS.md
  requirements.txt
  src/core/tk_exception_handler.py
  src/modules/clientes/forms/__init__.py
  src/modules/clientes/forms/_dupes.py
  src/modules/clientes/forms/client_subfolder_prompt.py
  src/modules/clientes_v2/view.py
  src/modules/clientes_v2/views/client_editor_dialog.py
  src/modules/clientes_v2/views/client_files_dialog.py
  src/modules/main_window/controllers/screen_registry.py
  src/modules/main_window/views/main_window.py
  src/modules/main_window/views/main_window_actions.py
  src/ui/custom_dialogs.py
  src/ui/widgets/ctk_tableview.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore: finalize repo cleanup (tools/repo + pre-commit green)
  .bandit
  .gitignore
  src/modules/clientes_v2/views/client_files_dialog.py
  tools/repo/EXECUTION_GUIDE.md
  tools/repo/cleanup_repo.ps1
  tools/repo/cleanup_repo.sh
  tools/repo/gitignore_additions.txt
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

chore: harden repo cleanup (unignore tools/repo + ruff config)
  .gitignore
  ruff.toml
Due: none

fix: make src/core/logs a tracked module (safe with git clean)
  .gitignore
  src/core/logs/__init__.py
  src/core/logs/audit.py
  src/core/logs/logger.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

docs: fix broken links in active docs (ignore archives)
  docs/README.md
  docs/ROADMAP.md
  docs/_archive/README.md
  docs/ci/REFERENCE.md
  docs/ci/STAGING_CHECKLIST.md
  docs/customtk/README.md
  docs/releases/TEMPLATES.md
  tools/check_docs_links.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

docs: consolidate documentation structure
  docs/QUICK_REFERENCE_CI.md
  docs/_archive/README.md
  docs/ci/README.md
  docs/customtk/README.md
  tools/check_docs_links.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

feat(fase-5a): hub async cancelável + skeleton/deferred + footer controller + clientes core imports
  docs/FASE_5A_PERF_STARTUP.md
  docs/FASE_7_QA_E2E_MONITORING.md
  docs/STAGING_CHECKLIST.md
  pytest.ini
  src/core/auth_bootstrap.py
  src/core/utils/perf_timer.py
  src/modules/clientes/__init__.py
  src/modules/clientes/ui/view.py
  src/modules/clientes/ui/views/client_editor_dialog.py
  src/modules/hub/async_runner.py
  src/modules/hub/views/hub_screen.py
  src/modules/main_window/app_actions.py
  src/modules/main_window/services/footer_controller.py
  src/modules/main_window/views/main_window.py
  src/modules/main_window/views/main_window_actions.py
  src/modules/main_window/views/main_window_bootstrap.py
  src/modules/main_window/views/main_window_handlers.py
  src/modules/main_window/views/main_window_layout.py
  src/ui/status_footer.py
  tests/conftest.py
  tests/unit/modules/hub/test_async_runner.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

FASE 1 - Commit 1.2: dashboard_center.py - tk.Frame → CTkFrame
  src/modules/hub/views/dashboard_center.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

refactor(ctk): FASE 1 Commit 1.3 - Remove tk.Label fallbacks em dashboard_center.py
  src/modules/hub/views/dashboard_center.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

refactor(ctk): FASE 1 Commit 1.4 - Remove tk.Frame/tk.Label fallbacks em hub_dashboard_view.py
  src/modules/hub/views/hub_dashboard_view.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

refactor(ctk): FASE 2 Commit 2.1 - Migra dialog de criação de nota para CTk
  src/modules/hub/views/hub_dialogs.py
Due: no-direct-customtkinter-import, validate-ui-theme-policy, compileall-check, smoke-ui-test, bandit-security-scan

Path conditions:
  no-direct-customtkinter-import: any of: \.py$, but not: ^src/ui/ctk_config\.py$
  validate-ui-theme-policy: any of: \.py$
  compileall-check: any of: \.py$
  smoke-ui-test: any of: \.py$
  bandit-security-scan: any of: \.py$, but not: ^(tests/|src/third_party/|src/modules/clientes/forms/_archived/)
